body {
  overflow-y: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

.chat-room {
  height: 100vh;

  #messages {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 150px;
    padding-top: 20px;
  }

  .navbar {
    border-bottom: 1px solid #eeeeee;
    margin-left: -15px;
    width: calc(100% + 30px);
  }

  .message {
    min-height: 59px;
    .content-container {
      display: inline-block;
      .content {
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
      }
      .sender {
        font-size: 0.8rem;
        color: #777777;
        margin-left: 10px;
      }
    }
    &.me {
      .content-container {
        float: right;
        .content {
          background-color: #007bff;
          color: white;
        }
      }
    }
  }
  .chat-box {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    margin-left: -15px;
    background-color: white;
    border-top: 1px solid #EEEEEE;
    input[type=text] {
      height: 45px;
      padding: 8px;
      font-size: 18px;
    }
    .btn {
      height: 45px;
    }
  }
}

.room-card {
  .name {
    font-weight: bold;
  }
  .users-count {
    font-size: small;
    font-weight: lighter;
  }
}

.rooms-sidebar {
  border-right: 1px solid #EEEEEE;
}